@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,600&family=Ruthie&family=Waterfall&family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.cdnfonts.com/css/brittany-signature?styles=70169");
/* Variables Tipo de Colores */
/* Variables Tipo de Fuente */
/*WindSong-font*/
/* ----- Mixins ----- */
/* ----- Extends ----- */
html body main .principal, main .principal, main .ubicacion .mapa, main .contacto {
  display: flex;
  justify-content: center;
  align-items: center; }

/*! Media_Query 900px */
/*! Media_Query 750px */
/*! Media_Query 600px */
/*! Media_Query 450px */
/*! ---- Reset ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  font-size: 16px; }
  @media screen and (max-width: 750px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 600px) {
    html {
      font-size: 12px; } }
  html body {
    width: 100%;
    min-height: 100vh; }
    html body main {
      background-color: #e6b7b8;
      min-height: calc(100vh - 200px); }
      html body main .hero {
        width: 100%;
        height: 90vh;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.7) 80%), url(../img/Postrefrutilla.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed; }
        @media screen and (max-width: 450px) {
          html body main .hero {
            display: none; } }
        html body main .hero .text-inicio {
          width: 100%;
          height: 100%;
          display: inline-flex; }
          html body main .hero .text-inicio h1 {
            text-align: center;
            color: #e6b7b8;
            font-size: 5rem;
            padding: 15px;
            margin: auto;
            margin-top: 250px;
            border: 1px solid white;
            outline: 1px solid white;
            outline-offset: 10px;
            background: rgba(245, 132, 169, 0.25);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(0px);
            -webkit-backdrop-filter: blur(0px); }
            @media screen and (max-width: 600px) {
              html body main .hero .text-inicio h1 {
                width: 65%;
                font-size: 3rem; } }
      html body main .fij-whatapp {
        position: fixed;
        bottom: 120px;
        right: 50px; }
        html body main .fij-whatapp img {
          width: 50px; }
        @media screen and (max-width: 450px) {
          html body main .fij-whatapp {
            display: none; } }
      html body main .principal {
        height: auto;
        margin-top: 100px;
        padding: 30px;
        font-size: 3rem;
        text-align: center; }
        html body main .principal .title-mob {
          margin: auto;
          display: none; }
          @media screen and (max-width: 450px) {
            html body main .principal .title-mob {
              display: contents; } }

header {
  background-color: #FAE5E6;
  width: 100%;
  min-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  header nav .container a {
    width: 250px; }
    header nav .container a img {
      width: 250px;
      height: 124px; }
      @media screen and (max-width: 450px) {
        header nav .container a img {
          width: 125px;
          height: 78px; } }
  header nav div ul li {
    font-size: .45rem;
    width: 240px; }
    header nav div ul li a {
      display: block; }
      header nav div ul li a h4 {
        width: fit-content;
        margin: auto;
        text-align: center; }
        header nav div ul li a h4:hover {
          border: 1px solid outset #f584a9ff;
          padding-bottom: 2px;
          color: #DD5A60 !important; }

/** Index */
main .contenedor-index {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/cupcake.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column; }
  main .contenedor-index .row .img img {
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 50px 50px;
    opacity: 0.8;
    width: 600px;
    filter: drop-shadow(4px 4px 2px #FAE5E6); }
    @media screen and (max-width: 450px) {
      main .contenedor-index .row .img img {
        margin: auto; } }
  main .contenedor-index .row .text-index {
    color: #e6b7b8;
    font-family: "Montserrat"; }
    main .contenedor-index .row .text-index h1 {
      font-size: 2rem;
      filter: drop-shadow(3px 3px 1px black); }
      @media screen and (max-width: 900px) {
        main .contenedor-index .row .text-index h1 {
          font-size: 2rem; } }
    main .contenedor-index .row .text-index a {
      text-decoration: none;
      color: #f584a9ff;
      border: 1px black solid;
      background-color: #FAE5E6;
      border-radius: 15px;
      width: 15%; }
      @media screen and (max-width: 450px) {
        main .contenedor-index .row .text-index a {
          width: 50%; } }
      main .contenedor-index .row .text-index a h2 {
        color: #f9f3ecff;
        font-size: 1.95rem;
        filter: drop-shadow(4px 4px 1px black); }

main .cont-inicio div div img {
  width: 250px;
  height: 250px; }

@media screen and (max-width: 450px) {
  main .cont-inicio {
    margin-top: 100px; } }

main .cont-inicio .title-mob {
  display: none;
  padding: 15px; }
  main .cont-inicio .title-mob h1 {
    padding: 30px;
    text-align: center; }
  @media screen and (max-width: 450px) {
    main .cont-inicio .title-mob {
      display: contents; } }

main .container {
  padding-bottom: 50px; }
  main .container .caja-prom {
    width: 300px;
    height: 200px;
    border: 1px solid black; }
    @media screen and (max-width: 900px) {
      main .container .caja-prom {
        margin: 5px 5px; } }
    @media screen and (max-width: 750px) {
      main .container .caja-prom {
        width: 250px;
        height: 167px;
        margin: 10px 10px; } }
    main .container .caja-prom h2 {
      font-size: 2rem; }
    main .container .caja-prom p {
      font-size: 1rem; }

main .principal .title-mob {
  margin: auto;
  display: none;
  padding: 15px;
  font-size: 3rem; }
  @media screen and (max-width: 450px) {
    main .principal .title-mob {
      display: contents; } }

main .ubicacion {
  width: 90%;
  height: auto;
  display: flex;
  margin: auto;
  padding: 15px; }
  @media screen and (max-width: 900px) {
    main .ubicacion {
      width: 100%; } }
  @media screen and (max-width: 750px) {
    main .ubicacion {
      flex-direction: column;
      height: auto; } }
  @media screen and (max-width: 450px) {
    main .ubicacion {
      height: auto;
      width: 100%; } }
  main .ubicacion .mapa {
    width: 50%;
    padding: 30px; }
    @media screen and (max-width: 900px) {
      main .ubicacion .mapa {
        width: 50%; } }
    @media screen and (max-width: 750px) {
      main .ubicacion .mapa {
        width: 100%; } }
    main .ubicacion .mapa iframe {
      border-radius: 10px;
      box-shadow: 2px 2px 15px #FAE5E6; }
  main .ubicacion .info-contacto {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start; }
    @media screen and (max-width: 900px) {
      main .ubicacion .info-contacto {
        width: 50%;
        height: auto; } }
    @media screen and (max-width: 750px) {
      main .ubicacion .info-contacto {
        width: 100%;
        height: auto;
        padding: 30px; }
        main .ubicacion .info-contacto h4 {
          font-size: 3rem; } }
    @media screen and (max-width: 600px) {
      main .ubicacion .info-contacto {
        width: 100%;
        height: auto;
        padding: 30px; }
        main .ubicacion .info-contacto h4 {
          font-size: 20rem; } }
    main .ubicacion .info-contacto .info-contacto-dato {
      display: flex;
      width: 100%;
      padding-left: 30px;
      gap: 35px; }
      @media screen and (max-width: 900px) {
        main .ubicacion .info-contacto .info-contacto-dato {
          width: 95%;
          padding-left: 5px;
          display: flex; } }
      @media screen and (max-width: 750px) {
        main .ubicacion .info-contacto .info-contacto-dato {
          width: 100%;
          padding-left: 50px;
          margin-bottom: 25px; } }
      @media screen and (max-width: 600px) {
        main .ubicacion .info-contacto .info-contacto-dato {
          padding-left: 10px; } }
      @media screen and (max-width: 450px) {
        main .ubicacion .info-contacto .info-contacto-dato {
          padding-left: 15px;
          gap: 15px; } }
      main .ubicacion .info-contacto .info-contacto-dato img {
        width: 35px;
        height: 35px; }
      main .ubicacion .info-contacto .info-contacto-dato h2 {
        font-size: 1.3rem; }

main .contacto {
  width: 100%;
  margin: auto; }
  main .contacto form {
    width: 90%;
    padding: 15px; }
    @media screen and (max-width: 900px) {
      main .contacto form {
        width: 100%; } }
    @media screen and (max-width: 750px) {
      main .contacto form {
        flex-direction: column;
        height: auto; } }
    @media screen and (max-width: 600px) {
      main .contacto form {
        height: auto; } }
    @media screen and (max-width: 450px) {
      main .contacto form {
        height: auto;
        width: 100%; } }
    main .contacto form .datos-personales {
      width: 50%;
      height: auto;
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      @media screen and (max-width: 900px) {
        main .contacto form .datos-personales {
          width: 100%; } }
      @media screen and (max-width: 750px) {
        main .contacto form .datos-personales {
          width: 100%; } }
      main .contacto form .datos-personales .input {
        width: 85%;
        display: flex;
        flex-direction: column; }
        @media screen and (max-width: 750px) {
          main .contacto form .datos-personales .input {
            width: 100%;
            margin: auto;
            margin-top: 25px; } }
        main .contacto form .datos-personales .input input {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          padding: 5px 10px 5px;
          box-shadow: 2px 2px 10px #FAE5E6; }
          @media screen and (max-width: 900px) {
            main .contacto form .datos-personales .input input {
              width: 100%; } }
          @media screen and (max-width: 750px) {
            main .contacto form .datos-personales .input input {
              width: 85%;
              margin: auto; } }
          main .contacto form .datos-personales .input inputinput[type="number"] {
            -moz-appearance: textfield; }
            main .contacto form .datos-personales .input inputinput[type="number"]input[type="number"]::-webkit-inner-spin-button, main .contacto form .datos-personales .input inputinput[type="number"]input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none; }
        main .contacto form .datos-personales .input label {
          width: 85%;
          height: auto;
          font-size: 1.1rem; }
          @media screen and (max-width: 900px) {
            main .contacto form .datos-personales .input label {
              width: 100%; } }
          @media screen and (max-width: 750px) {
            main .contacto form .datos-personales .input label {
              width: 85%;
              margin: auto;
              padding-left: 0;
              font-size: 1.35rem; } }
    main .contacto form .datos-consulta {
      width: 50%;
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 900px) {
        main .contacto form .datos-consulta {
          width: 100%; } }
      @media screen and (max-width: 750px) {
        main .contacto form .datos-consulta {
          width: 100%; } }
      @media screen and (max-width: 600px) {
        main .contacto form .datos-consulta {
          width: 100%; } }
      main .contacto form .datos-consulta textarea {
        width: 85%;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 2px 2px 10px #FAE5E6; }
        @media screen and (max-width: 900px) {
          main .contacto form .datos-consulta textarea {
            width: 100%; } }
        @media screen and (max-width: 750px) {
          main .contacto form .datos-consulta textarea {
            width: 85%; } }
      main .contacto form .datos-consulta label {
        width: 85%;
        margin-top: 30px;
        font-size: 1.1rem; }
        @media screen and (max-width: 900px) {
          main .contacto form .datos-consulta label {
            width: 100%; } }
        @media screen and (max-width: 750px) {
          main .contacto form .datos-consulta label {
            width: 85%;
            font-size: 1.35rem; } }
      main .contacto form .datos-consulta button {
        width: 35%;
        margin: auto;
        margin-top: 1.5rem;
        font-size: 1rem;
        padding: 2%;
        border-radius: 8px;
        background: none;
        box-shadow: 2px 2px 10px #FAE5E6;
        transition: .6s ease; }
        main .contacto form .datos-consulta button:hover {
          color: #FAE5E6;
          background-color: #edd9b5ff; }
        @media screen and (max-width: 750px) {
          main .contacto form .datos-consulta button {
            width: 70%;
            font-size: 1.5rem; } }

main {
  /* Galeria Grid Productos */ }
  main .productos {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media screen and (max-width: 750px) {
      main .productos {
        height: auto; } }
    @media screen and (max-width: 450px) {
      main .productos {
        margin-top: 100px; } }
    main .productos .title-mob {
      display: none;
      padding: 15px; }
      main .productos .title-mob h1 {
        padding: 30px;
        text-align: center; }
      @media screen and (max-width: 450px) {
        main .productos .title-mob {
          display: contents; } }
    main .productos .cards-productos {
      width: 100%;
      padding: 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: 0.5s; }
      @media screen and (max-width: 750px) {
        main .productos .cards-productos {
          flex-wrap: wrap;
          gap: 2.5rem;
          height: auto; } }
      main .productos .cards-productos .card {
        width: 250px;
        height: 300px;
        margin-top: 20px;
        opacity: .7;
        position: relative;
        border-radius: 15px;
        background: linear-gradient(90deg, #FAE5E6 0%, #f7a195 2%, white 100%);
        transition: .5s ease-in;
        transition-delay: .3s; }
        @media screen and (max-width: 750px) {
          main .productos .cards-productos .card {
            row-gap: 2.5rem; } }
        main .productos .cards-productos .card h2 {
          position: absolute;
          left: 0;
          bottom: 0;
          transform: rotate(0deg);
          translate: 65px -5px;
          font-size: 30px;
          color: #FAE5E6;
          text-shadow: 2px 2px 1px black; }
        main .productos .cards-productos .card a img {
          width: 100%;
          height: 300px;
          border-radius: 15px;
          box-shadow: 3px 3px 25px black; }
        main .productos .cards-productos .card:hover {
          opacity: 1;
          transform: scale(1.25); }
  main h3 {
    text-align: center;
    margin: 0 auto 15px auto;
    font-size: 40px; }
    @media screen and (max-width: 450px) {
      main h3 {
        font-size: 2.5rem; } }
  main .galeria {
    width: 85%;
    margin: auto;
    background: #fff .6; }
    main .galeria .tit-gal {
      margin-top: 150px; }
    main .galeria .cont-gal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    main .galeria .galeria-productos {
      width: 95%;
      padding: 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 250px;
      gap: 25px;
      /* Galeria Chocolateria */
      /* Galeria Pasteleria */
      /* Galeria Mesa */ }
      @media screen and (max-width: 750px) {
        main .galeria .galeria-productos {
          width: 95%;
          grid-template-columns: repeat(2, 1fr); } }
      @media screen and (max-width: 600px) {
        main .galeria .galeria-productos {
          width: 95%;
          grid-template-columns: 1fr;
          grid-auto-rows: 25rem; } }
      main .galeria .galeria-productos .gal-item {
        border: 1px black solid;
        border-radius: 10px;
        box-shadow: 8px 8px 25px black;
        min-width: 100px;
        height: auto; }
        main .galeria .galeria-productos .gal-item img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover; }
      @media screen and (max-width: 750px) {
        main .galeria .galeria-productos .item-choco-1 {
          display: none; } }
      main .galeria .galeria-productos .item-choco-2 {
        grid-column: span 2;
        grid-row: span 2; }
        @media screen and (max-width: 600px) {
          main .galeria .galeria-productos .item-choco-2 {
            grid-column: span 1;
            grid-row: span 1; } }
      @media screen and (max-width: 750px) {
        main .galeria .galeria-productos .item-choco-5 {
          grid-column: span 2; } }
      @media screen and (max-width: 600px) {
        main .galeria .galeria-productos .item-choco-5 {
          grid-column: span 1; } }
      main .galeria .galeria-productos .item-choco-9 {
        grid-column: span 2; }
        @media screen and (max-width: 600px) {
          main .galeria .galeria-productos .item-choco-9 {
            grid-column: span 1; } }
      main .galeria .galeria-productos .item-past-7 {
        grid-column: span 2;
        grid-row: span 2; }
        @media screen and (max-width: 600px) {
          main .galeria .galeria-productos .item-past-7 {
            grid-column: span 1;
            grid-row: span 1; } }
      main .galeria .galeria-productos .item-mesa-3 {
        grid-row: span 2; }
        @media screen and (max-width: 600px) {
          main .galeria .galeria-productos .item-mesa-3 {
            grid-row: span 1; } }
      main .galeria .galeria-productos .item-mesa-7 {
        grid-row: span 2; }
        @media screen and (max-width: 600px) {
          main .galeria .galeria-productos .item-mesa-7 {
            grid-row: span 1; } }

main .cont-quienessomos {
  padding: 5px; }
  main .cont-quienessomos p {
    font-size: 1.5rem;
    text-indent: 2rem;
    padding: 2rem; }
    @media screen and (max-width: 450px) {
      main .cont-quienessomos p {
        text-align: justify; } }
    main .cont-quienessomos p .text {
      font-size: 1.75rem; }
  main .cont-quienessomos span {
    font-family: "Comforter";
    font-size: 4rem;
    padding-left: 60px; }
    @media screen and (max-width: 750px) {
      main .cont-quienessomos span {
        display: block;
        text-align: center;
        padding-left: 5px;
        font-size: 3.5rem; } }
    @media screen and (max-width: 600px) {
      main .cont-quienessomos span {
        font-size: 3.2rem; } }
  @media screen and (max-width: 450px) {
    main .cont-quienessomos {
      margin-top: 100px; } }

main .sec-carousel {
  background: lavenderblush;
  padding: 10px; }
  main .sec-carousel img {
    object-fit: cover;
    height: 450px; }

footer {
  background-color: #FAE5E6;
  height: 100px;
  width: 100%; }
  @media screen and (max-width: 750px) {
    footer {
      height: auto;
      flex-direction: column; } }
  @media screen and (max-width: 600px) {
    footer {
      height: auto; } }
  @media screen and (max-width: 450px) {
    footer {
      height: auto; } }
  footer .text-boot {
    width: 30%; }
    footer .text-boot a img {
      width: 190px;
      height: 94px; }
  footer .redes-copy {
    width: 70%; }
    @media screen and (max-width: 750px) {
      footer .redes-copy {
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        align-items: center; } }
    @media screen and (max-width: 450px) {
      footer .redes-copy {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    footer .redes-copy .redes-boot a img {
      width: 30px;
      height: 30px; }
    footer .redes-copy .copy-boot img {
      width: 30px;
      height: 30px; }
    footer .redes-copy .copy-boot h3 {
      font-family: sans-serif;
      font-size: 1rem; }
