footer {
   background-color: nth($paletacolores, 5);
   height: 100px;

   .text-boot {
      a{
         img{
         width: 150px;
         height: 94px;
         }
      }
   }

   .redes-boot {
      a {
         img {
            width: 30px;
            height: 30px;
         }
      }
   }

   .copy-boot {
      img {
         width: 30px;
         height: 30px;
      }

      h3 {
         font-family: nth($fuentes, 2);
         font-size: 1rem;
      }
   }
}