footer {
   background-color: nth($paletacolores, 5);
   height: auto;

   .text-boot {
      h2 {
         font-family: nth($fuentes , 7);
         font-size: 2.5rem;
         font-weight: 700;
         filter: drop-shadow(4px 4px 1px nth($paletacolores, 2));
      }
   }

   .redes-boot {
      a {
         img {
            width: 30px;
            height: 30px;
         }
      }
   }

   .copy-boot {
      img {
         width: 30px;
         height: 30px;
      }

      h3 {
         font-family: nth($fuentes, 2);
         font-size: 1rem;
      }
   }
}