header {
   background-color: nth($paletacolores, 5);
   width: 100%;
   min-height: 100px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;

   nav {
      .container {
         a {
            width: 200px;

            img {
               width: 200px;
               height: 125px;

               @include mobile {
                  width: 125px;
                  height: 78px;
               }

            }
         }
      }

      div {
         ul {
            li {
               font-size: 1.15rem;
               width: 200px;

               a {
                  display: inline-flex;

                  h6 {
                     width: fit-content;
                     margin: auto;
                     text-align: center;

                     &:hover {
                        border-bottom: 3px solid black;
                        padding-bottom: 2px;
                        color: aqua !important;
                     }
                  }

               }
            }
         }
      }
   }
}