header {
   background-color: nth($paletacolores, 5);
   width: 100%;
   min-height: 100px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;

   nav {
      .container {
         a {
            width: 250px;

            img {
               width: 250px;
               height: 124px;

               @include mobile {
                  width: 125px;
                  height: 78px;
               }
            }
         }

      }

      div {
         ul {
            li {
               font-size: .45rem;
               width: 240px;

               a {
                  display: block;

                  h3 {
                     width: fit-content;
                     margin: auto;
                     text-align: center;
                     font-size: 1.25rem;

                     &:hover {
                        padding-bottom: 2px;
                        color: #DD5A60 !important;
                     }
                  }

               }
            }
         }
      }
   }
}