main {
   .hero {
      color: aliceblue;
      margin-top: 100px;
      width: 100%;
      min-height: 800px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/Postrefrutilla.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
   }

   .ubicacion {
      width: 80%;
      height: 350px;
      margin: auto;
      display: flex;
      .mapa {
         margin: auto;
         width: 50%;
         padding: 30px;
         display: flex;
         justify-content: center;
         border-radius: 10px;
         iframe {
            border-radius: 10px;
            box-shadow: 2px 2px 15px nth($paletacolores, 5);
         }
      }
      .info-contacto {
         width: 50%;
         padding: 15px;
         padding-left: 15px;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: start;
         .info-contacto-dato {
            display: flex;
            align-items: center;
            gap: 30px;
            img {
               width: 35px;
               height: 35px;
            }
            h4 {
               font-size: 1.25rem;
            }
         }
      }
   }

   .contacto {
      width: 80%;
      height: 350px;
      margin: auto;
      display: flex;
      .datos-personales {
         width: 50%;
         padding: 30px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-content: center;
         input {
            width: 80%;
            height: 30px;
            margin: auto;
            margin-bottom: 3%;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 2px 2px 10px nth($paletacolores, 5);
            &[type="number"] {
               -moz-appearance: textfield;
               &input[type="number"]::-webkit-inner-spin-button,
               &input[type="number"]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
               }
            }
         }
         label {
            padding-left: 10%;
            font-size: 1.1rem;
         }
      }
      .datos-consulta {
         width: 50%;
         padding: 30px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         textarea {
            width: 90%;
            margin: auto;
            margin-bottom: 3%;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 2px 2px 10px nth($paletacolores, 5);
         }
         label {
            padding-left: 5%;
            margin-bottom: 1%;
            font-size: 1.1rem;
         }
         button {
            width: 50%;
            margin: auto;
            margin-top: 1.5rem;
            font-size: 1rem;
            padding: 2%;
            border-radius: 8px;
            box-shadow: 2px 2px 10px nth($paletacolores, 5);
         }
      }
   }
   
}