main {
   .contenedor-hero {
      width: 100%;

      .hero {
         background-image: url(../img/Postrefrutilla.jpg);
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
         background-attachment: fixed;
      }

      @include mobile {
         display: none;
      }
   }

   .cont-inicio {

      div {
         div {
            img {
               width: 250px;
               height: 250px;
            }
         }
      }

      @include mobile {
         margin-top: 100px;
      }

   }

   .container {
      .caja-prom {
         width: 350px;
         height: 200px;

         @include notebook {
            height: 150px;
            margin: 50px auto;
         }

         @include tablets {
            height: 150px;
            margin: 50px auto;
         }

         @include mobile600 {
            width: 225px;
            height: 100px;

            h3 {
               height: 25rem;
            }

            p {
               height: 16rem;
            }
         }

         @include mobile {
            margin: 40px auto;

            h3 {
               height: 14rem;
            }

            p {
               height: 8rem;
            }
         }
      }
   }

}