main {
   /** ---- Quienes Somos ---- */

   .sec-carousel {
      background: lavenderblush;
      padding: 10px;
      margin-bottom: 50px;
      img {
         object-fit: cover;
         height: 450px;
      }
   }
   
}