main {

  .cont-quienessomos {
    padding: 5px;

    p {
      font-size: 1.5rem;
      text-indent: 2rem;
      padding: 2rem;

      @include mobile {
        text-align: justify;
      }

      .text {
        font-size: 1.75rem;
      }

    }

    span {
      font-family: nth($fuentes, 5);
      font-size: 4rem;
      padding-left: 60px;


      @include tablets {
        display: block;
        text-align: center;
        padding-left: 5px;
        font-size: 3.5rem;
      }

      @include mobile600 {
        font-size: 3.2rem;
      }

    }

    @include mobile {
      margin-top: 100px;
    }
  }

  .sec-carousel {
    background: lavenderblush;
    padding: 10px;

    img {
      object-fit: cover;
      height: 450px;
    }
  }
}