main {
   min-height: calc(100vh - 200px);

   .hero {
      width: 100%;
      min-height: 92vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/Postrefrutilla.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;

      @include tablets {
         height: auto;
      }
   }

   .ubicacion {
      width: 80%;
      height: 350px;
      margin: auto;
      display: flex;
      background-color: lightsalmon;

      @include tablets {
         flex-direction: column;
         height: auto;
      }

      @include mobile {
         height: auto;
      }

      .mapa {
         margin: auto;
         width: 50%;
         padding: 30px;
         @include flex (flex,center,center);
         border-radius: 10px;

         @include tablets {
            width: 100%;
            margin: auto;
         }

         iframe {
            border-radius: 10px;
            box-shadow: 2px 2px 15px nth($paletacolores, 5);
         }
      }

      .info-contacto {
         width: 50%;
         padding: 15px;
         @include flexColumn(flex, column, space-evenly, start);

         @include tablets {
            width: 100%;
            margin-bottom: 50px;
         }

         .info-contacto-dato {
            display: flex;
            align-items: center;
            gap: 30px;

            @include tablets {
               width: 80%;
               margin: auto;
               margin-bottom: 25px;
            }

            img {
               width: 35px;
               height: 35px;
            }

            h4 {
               font-size: 1.25rem;
            }
         }
      }
   }

   .contacto {
      width: 80%;
      height: 350px;
      margin: auto;
      margin-bottom: 30px;
      display: flex;

      @include tablets {
         flex-direction: column;
         height: auto;
      }

      @include mobile600 {
         height: auto;
      }

      @include mobile {
         height: auto;
      }
      .datos-personales {
         width: 50%;
         padding: 30px;
         @include flexColumn(flex, column, space-between, center);

         @include tablets {
            width: 100%;
            margin: auto;
         }

         input {
            width: 80%;
            height: 30px;
            margin: auto;
            margin-bottom: 3%;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 2px 2px 10px nth($paletacolores, 5);

            @include tablets {
               width: 100%;
            }

            &[type="number"] {
               -moz-appearance: textfield;

               &input[type="number"]::-webkit-inner-spin-button,
               &input[type="number"]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
               }
            }
         }

         label {
            padding-left: 10%;
            font-size: 1.1rem;

            @include tablets {
               padding-left: 0;
               font-size: 1.75rem;
            }
         }
      }

      .datos-consulta {
         width: 50%;
         padding: 30px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         @include tablets {
            width: 100%;
            height: auto;
         }

         textarea {
            width: 90%;
            margin: auto;
            margin-bottom: 3%;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 2px 2px 10px nth($paletacolores, 5);

            @include tablets {
               width: 100%;
            }
         }

         label {
            padding-left: 5%;
            margin-bottom: 1%;
            font-size: 1.1rem;

            @include tablets {
               padding-left: 0;
               font-size: 1.75rem;
            }
         }

         button {
            width: 50%;
            margin: auto;
            margin-top: 1.5rem;
            font-size: 1rem;
            padding: 2%;
            border-radius: 8px;
            box-shadow: 2px 2px 10px nth($paletacolores, 5);

            @include tablets {
               width: 70%;
               font-size: 1.5rem;
            }
         }
      }
   }
}
