main {

  /** ---- Quienes Somos ---- */
  .principal {
    padding: 35px;

    h1 {
      padding: 1.5rem;
      font-size: 3rem;
      text-align: center;
    }

    p {
      font-size: 1.5rem;
      text-indent: 2rem;
      padding: 2rem;

      @include mobile {
        text-align: justify;
      }

      .text {
        font-size: 1.75rem;
      }

      span {
        font-family: nth($fuentes, 5);
        font-size: 4rem;

        @include mobile {
          display: block;
          text-align: center;
          padding-right: 35px;
        }

        @include mobile600 {
          display: block;
          text-align: center;
          padding-right: 35px;
        }

        @include tablets {
          display: block;
          text-align: center;
          padding-right: 35px;
        }
      }
    }

    @include mobile {
      margin-top: 110px;
    }
  }

  .sec-carousel {
    background: lavenderblush;
    padding: 10px;

    img {
      object-fit: cover;
      height: 450px;
    }
  }
}