main {

   .productos {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include tablets {
         height: auto;
      }

      @include mobile {
         margin-top: 100px;
      }

      .cards-productos {
         width: 100%;
         padding: 30px;
         @include flex(flex, space-around, center);
         transition: 0.5s;


         @include tablets {
            flex-wrap: wrap;
            gap: 2.5rem;
            height: auto;
         }

         .card {
            min-width: 250px;
            height: 300px;
            margin-top: 10px;
            opacity: .7;
            position: relative;
            border-radius: 15px;
            background: linear-gradient(90deg, nth($paletacolores, 5) 0%, rgba(247, 161, 149, 1) 2%, rgba(255, 255, 255, 1) 100%);
            transition: .5s ease-in;
            transition-delay: .3s;

            @include notebook {
               row-gap: 2rem;
               column-gap: 2rem;
            }

            h2 {
               position: absolute;
               left: 0;
               bottom: 0;
               transform: rotate(0deg);
               translate: 65px -5px;
               font-size: 30px;
               color: nth($paletacolores, 5);
               text-shadow: 2px 2px 1px black;
            }

            a {
               img {
                  width: 100%;
                  height: 300px;
                  border-radius: 15px;
                  box-shadow: 3px 3px 25px black;
               }
            }

            &:hover {
               opacity: 1;
               transform: scale(1.25);
            }
         }
      }
   }

   h3 {
      text-align: center;
      margin: 0 auto 15px auto;
      font-size: 40px;

      @include mobile {
         font-size: 2.5rem;
      }
   }

   /* Galeria Grid Productos */
   .galeria {
      width: 95%;
      margin: auto;
      background: #fff .6;

      .tit-gal {
         margin-top: 150px;
      }

      .cont-gal {
         @include flexColumn(flex, column, center, center);

      }

      .galeria-productos {
         width: 95%;
         padding: 50px;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-auto-rows: 250px;
         gap: 25px;

         @include notebook {
            width: 95%;
            grid-template-columns: repeat(2, 1fr);
         }

         @include mobile600 {
            width: 95%;
            grid-template-columns: 1fr;
            grid-auto-rows: 25rem;
         }


         .gal-item {
            border: 1px black solid;
            border-radius: 10px;
            box-shadow: 8px 8px 25px black;
            min-width: 100px;
            height: auto;

            img {
               width: 100%;
               height: 100%;
               border-radius: 10px;
               object-fit: cover;
            }

         }


         /* Galeria Chocolateria */

         .item-choco-1 {
            @include notebook {
               display: none;
            }
         }

         .item-choco-2 {
            grid-column: span 2;
            grid-row: span 2;

            @include mobile600 {
               grid-column: span 1;
               grid-row: span 1;
            }
         }

         .item-choco-5 {
            @include notebook {
               grid-column: span 2;
            }

            @include mobile600 {
               grid-column: span 1;
            }
         }



         .item-choco-9 {
            grid-column: span 2;

            @include mobile600 {
               grid-column: span 1;
            }
         }

         /* Galeria Pasteleria */

         .item-past-7 {
            grid-column: span 2;
            grid-row: span 2;

            @include mobile600 {
               grid-column: span 1;
               grid-row: span 1;
            }
         }

         /* Galeria Mesa */

         .item-mesa-3 {
            grid-row: span 2;

            @include mobile600 {
               grid-row: span 1;
            }
         }

         .item-mesa-7 {
            grid-row: span 2;

            @include mobile600 {
               grid-row: span 1;
            }
         }

      }
   }
}