main {
   .hero {
      width: 100%;
      max-height: calc(50vh - 150px);
      background-image: url(../img/Postrefrutilla.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;

      @include mobile {
         display: none;
      }
   }

   .productos {
      width: 100%;
      margin: 60px auto;

      @include tablets {
         height: auto;
      }

      @include mobile {
         margin-top: 150px;
      }

      h1 {
         text-align: center;
         font-size: 3rem;

         @include mobile {
            font-size: 2.75rem;
            text-align: center;
         }
      }

      .cards-productos {
         width: 100%;
         padding: 60px;
         @include flex(flex, space-around, center);
         transition: 0.5s;


         @include tablets {
            flex-wrap: wrap;
            gap: 2.5rem;
            height: auto;
         }

         .card {
            width: 250px;
            height: 300px;
            margin-top: 20px;
            opacity: .7;
            position: relative;
            border-radius: 15px;
            background: linear-gradient(90deg, nth($paletacolores, 5) 0%, rgba(247, 161, 149, 1) 2%, rgba(255, 255, 255, 1) 100%);
            transition: .5s ease-in;
            transition-delay: .3s;

            @include tablets {
               row-gap: 2.5rem;
            }

            h2 {
               position: absolute;
               left: 0;
               bottom: 0;
               transform: rotate(0deg);
               translate: 65px -5px;
               font-size: 30px;
               color: nth($paletacolores, 5);
               text-shadow: 2px 2px 1px black;
            }

            a {
               img {
                  width: 100%;
                  height: 300px;
                  border-radius: 15px;
                  box-shadow: 3px 3px 25px black;
               }
            }

            &:hover {
               opacity: 1;
               transform: scale(1.25);
            }
         }
      }
   }

   h3 {
      text-align: center;
      margin: 0 auto 15px auto;
      font-size: 40px;

      @include mobile {
         font-size: 2.5rem;
      }
   }

   /* Galeria Grid Productos */
   .galeria {
      width: 70%;
      margin: auto;
      background: #fff .6;



      .tit-gal {
         margin-top: 150px;
      }

      .galeria-productos {
         width: 95%;
         padding: 50px;
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-auto-rows: 200px;
         gap: 25px;

         @include tablets {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 35rem;
            gap: 10px;
         }

         @include mobile600 {
            width: 95%;
            grid-template-columns: 2fr;
            grid-auto-rows: 18rem;
         }

         @include mobile {
            width: 85%;
            grid-template-columns: 1fr;
            grid-auto-rows: 18rem;
         }

         .gal-item {
            border: 1px black solid;
            border-radius: 10px;
            box-shadow: 8px 8px 25px black;
            min-width: 100px;
            height: auto;



            img {
               width: 100%;
               height: 100%;
               border-radius: 10px;
               object-fit: cover;
            }

         }


         /* Galeria Chocolateria */

         .item-choco-1 {
            @include mobile600 {
               display: none;
            }
         }

         .item-choco-2 {
            grid-column: span 2;
            grid-row: span 2;

            @include mobile {
               grid-column: span 1;
               grid-row: span 1;
            }
         }

         .item-choco-9 {
            grid-column: span 2;

            @include mobile600 {
               grid-column: span 1;
            }
         }

         /* Galeria Pasteleria */

         .item-past-7 {
            grid-column: span 2;
            grid-row: span 2;

            @include mobile {
               grid-column: span 1;
               grid-row: span 1;
            }
         }

         .item-past-9 {}

         /* Galeria Mesa */
         .item-mesa-2 {
            grid-column: span 2;


            @include mobile {
               grid-column: span 1;
            }
         }

         .item-mesa-3 {
            @include tablets {
               grid-row: span 2;
            }


            @include mobile {
               grid-row: span 1;
            }
         }

         .item-mesa-6 {
            @include tablets {
               display: none;
            }
         }

         .item-mesa-7 {
            grid-row: span 2;

            @include tablets {
               grid-column: span 3;
            }

            @include mobile {
               grid-column: span 1;
               grid-row: span 1;
            }
         }

         .item-mesa-8 {
            grid-column: span 2;

            @include mobile {
               grid-column: span 1;

            }
         }

      }
   }
}