main {
   .contenedor-hero {
      width: 100%;

      .hero {
         background-image: url(../img/Postrefrutilla.jpg);
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
         background-attachment: fixed;
      }

      @include mobile {
         display: none;
      }
   }

   .cont-inicio {

      div {
         div {
            img {
               width: 250px;
               height: 250px;
            }
         }
      }

      @include mobile {
         margin-top: 100px;
      }

   }

   .container {
      .caja-prom {
         width: 300px;
         height: 200px;
         border: 1px solid black;

         h3 {
            font-size: 2rem;
         }

         p {
            font-size: 1rem;
         }

         @include notebook {
            height: auto;
            margin: 50px auto;
         }

         @include tablets {
            height: auto;
            margin: 50px auto;
         }

         @include mobile600 {
            height: auto;
         }

         @include mobile {
            height: auto;
            padding: 40px;
         }
      }
   }

}