/*! ---- Reset ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: nth($fuentes, 2);
  font-size: 16px;

  @include tablets {
    font-size: 14px;
  }

  @include mobile600 {
    font-size: 12px;
  }

  body {
    width: 100%;
    min-height: 100vh;

    main {
      background-color: nth($paletacolores, 4);
      min-height: calc(100vh - 200px);



      .fij-whatapp {
        position: fixed;
        bottom: 120px;
        right: 50px;

        img {
          width: 50px;
        }

        @include mobile {
          display: none;
        }
      }
    }
  }

}