@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,600&family=Ruthie&family=Waterfall&family=WindSong:wght@400;500&display=swap');

@import url("https://fonts.cdnfonts.com/css/brittany-signature?styles=70169");

/* Variables Tipo de Colores */

$paletacolores: #edd9b5ff,
      /*$dutch-white*/
      #f9f3ecff,
      /*$isabelline*/
      #f584a9ff,
      /*tickle-me-pink*/
      #e6b7b8,
      /*-tea-rose-red*/
      #FAE5E6;


/* Variables Tipo de Fuente */

$fuentes: "Brittany Signature", sans-serif,
      /*Brittany-font:*/
      "Montserrat", sans-serif,
      /*montserrat-font:*/
      "Comforter", cursive,
      /*Comforter-font*/
      "Corinthia", cursive,
      /*Corinthia-font*/
      "Ruthie", cursive,
      /*Ruthie-font Uso Logo*/
      "Waterfall", cursive,
      /*Waterfall-font*/
      "WindSong", cursive;
/*WindSong-font*/



/* ----- Mixins ----- */

@mixin flex ($display, $justify, $align) {
      display: $display;
      justify-content: $justify;
      align-items: $align;
}

@mixin flexColumn ($display, $direction, $justify, $align) {
      display: $display;
      flex-direction: $direction;
      justify-content: $justify;
      align-items: $align;
}


/* ----- Extends ----- */

%flex {
      display: flex;
      justify-content: center;
      align-items: center;
}